*
oriel-key.pem

!.gitignore
!docker-compose.yml
!Dockerfile
!Jenkinsfile
!requirements.txt
!test_weather.py
!flask-deployment.yaml
!flask-service.yaml

!web_app_project
!web_app_project/**

!old_files
!old_files/**

!infra
!infra/terraform
!infra/terraform/*.tf

!infra/EKS
!infra/EKS/*.tf

!infra/ansible
!infra/ansible/*.yaml